<a href="https://colab.research.google.com/github/kellyham0/DS1002/blob/main/Copy_of_07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [1]:
# Load pandas and the data
import pandas as pd
rides = pd.read_csv('./ride_sharing.csv')

In [2]:
# show how many rows and columns are in this dataset
print('There are',len(rides),'rows in this dataset.')
print('There are',len(rides.columns),'columns in this dataset.')

There are 25760 rows in this dataset.
There are 10 columns in this dataset.

In [3]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
rides['duration'] = rides['duration'].str.strip('minutes')
rides['duration'] = rides['duration'].astype('int')
rides.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [4]:
# Now display the datatypes in the updated dataframe
rides

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,27
2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,29
3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27
...,...,...,...,...,...,...,...,...,...,...
25755,11,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,1,2000,Male,26
25756,10,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,1998,Male,26
25757,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,1995,Male,26
25758,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,2,1995,Male,27
25759,29,16,Steuart St at Market St,115,Jackson Playground,1705,3,1990,Male,27

In [5]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
print('The maximum duration time is',rides.duration.max(),'.')
print('The minimum duration time is',rides.duration.min(),'.')

The maximum duration time is 1372 .
The minimum duration time is 1 .

In [6]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
short_rides = rides.query('duration<60')
short_rides

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,27
2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,29
3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27
...,...,...,...,...,...,...,...,...,...,...
25755,11,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,1,2000,Male,26
25756,10,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,1998,Male,26
25757,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,1995,Male,26
25758,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,2,1995,Male,27
25759,29,16,Steuart St at Market St,115,Jackson Playground,1705,3,1990,Male,27

In [7]:
# Now show both the min and max values of the duration column for your new dataset.
print('The maximum duration for the new data set is',short_rides.duration.max(),'minutes.')
print('The minimum duration for the new data set is',short_rides.duration.min(),'minutes.')

The maximum duration for the new data set is 59 minutes.
The minimum duration for the new data set is 1 minutes.

In [8]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
short_rides = short_rides.query('tire_size==26')

In [9]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
len(short_rides[short_rides.user_gender == 'Female'])

2961

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [10]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
messy = pd.read_csv('./more-messy-data.csv')
print(messy.duplicated().sum())

287

In [11]:
# Next, remove all duplicate rows using Python.
messy1 = messy.drop_duplicates()

In [12]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
messy2 = messy1.fillna(messy.median())

<ipython-input-12-c99080cba85d>:3: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  messy2 = messy1.fillna(messy.median())

In [13]:
# Find any values in the dataframe that are still missing, and delete them.
messy3 = messy2.dropna()
messy3.head(3)

   id  sepal_length  sepal_width  petal_length petal_width    species
0   1           3.5          2.9           1.4         0.5  virginica
1   2           3.6          3.2           3.0         0.5     setosa
2   3           3.8          3.0           2.2         1.5     setosa

In [14]:
# How many different species are there?
print('There are',len(set(messy3.species.unique())),'unique species.')

There are 9 unique species.

In [23]:
# Clean up the 'species' variable so that there are exactly three different values.
messy3['species']=messy3['species'].str.lower()
messy3.species.describe()
spelled_properly = ['versicolor','virginica','setosa']
spelled_improperly = set(messy3['species']).difference(spelled_properly)
misspelled_rows = messy3['species'].isin(spelled_improperly)
proper_data = messy3[~misspelled_rows]
proper_data.species.describe()

<ipython-input-23-ccad17e53cb7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  messy3['species']=messy3['species'].str.lower()

count        881
unique         3
top       setosa
freq         444
Name: species, dtype: object

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [ ]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))